@media screen and (max-width: 1920px) {
  .header {
    background-size: 1920px auto;
  }
}

@media screen and (max-width: 1400px) {
  .header__body {
    padding-left: 50px;
  }
  .section1:after {
    width: 93px;
    background-size: contain;
    height: 67px;
    bottom: -30px;
    left: 50%;
    margin-left: -46px;
  }
  .section3:after {
    width: 86px;
    height: 74px;
    left: auto;
    right: 0;
    margin-left: 0;
    top: -30px;
  }
  .about-me__wrap {
    padding-left: 0;
  }
  .about-me__photo {
    left: 560px;
  }
}

@media screen and (max-width: 1199px) {
  .cooperation {
    width: 800px;
    border-radius: 20px;
  }
  .cooperation__item {
    padding: 20px;
  }
  .header__nav .nav {
    gap: 10px;
  }
  .header__body {
    padding-left: 0;
  }
  .header__body__img {
    left: 500px;
  }
  .header__prim__item__caption {
    font-size: 30px;
  }
  .header__prim__ico {
    width: 90px;
    top: 100%;
    svg {
      width: 90px;
    }
  }

  .header__footer {
    min-height: auto;
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .header__prim {
    gap: 30px;
  }
  .about-me__photo {
    width: 400px;
    bottom: -90px;
    img {
      width: 400px;
      height: auto;
    }
  }
  .faq__footer:after{
    width: 150px;
    height: 180px;
    right: -15px;
    background-size: contain;
    background-repeat: no-repeat;
    top: -90px;
  }
  .faq__footer:before {
    background-size: contain;
    background-repeat: no-repeat;
    width: 110px;
    height: 60px;
    left: -15px;
  }
  .faq {
    background-size: contain;
    background-repeat: no-repeat;
  }
  .footer__nav {
    padding-left: 30px;
    gap: 15px;
  }
  .footer {
    padding:20px 0 30px;
    border-radius: 20px 20px 0 0;
  }
  .footer__wrap {
    flex-wrap: wrap;
  }
  .footer__copy {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 991px) {
  .about-me__content {
    padding-top: 0;
    width: 400px;
    h2 {
      font-size: 24px;
    }
    p {
      font-size: 14px;
    }
  }
  .about-me__footer .nav li {
    font-size: 14px;
  }
  .about-me__wrap:after {
    display: none;
  }
  .about-me__photo {
    left: 420px;
  }
  .cooperation__item__header {
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .cooperation__item__title {
    padding: 0;
  }
  .portfolio__item__photo.full {
    display: block;
  }
  .portfolio__item__caption {
    padding-top: 15px;
  }
  .progress-item {
    margin-bottom: 10px;
  }
  .cooperation {
    width: 100%;
    display: block;
  }
  .cooperation__item:not(:last-child) {
    border-right: none;
    border-bottom: 2px solid #ececf4;
  }
  .header__prim {
    flex-wrap: wrap;
    padding-right: 0;
  }
  .header__prim__item {
    width: calc(50% - 15px);
  }
  .header__body__img {
    width: 360px;
    left: 420px;
  }
  .header__body__content h1 span:after,
  .header__body__content h1 span:before,
  .header__body__content h1 span {
    font-size: 76px;
  }
  .header__body__content {
    max-width: 400px;
  }
  .header__body__content h1 b {
    font-size: 32px;
  }
  .header__body__content h1 {
    font-size: 24px;
  }
  .header__mob {
    position: relative;
    z-index: 20;
    height: 72px;
    .header__top {
      height: auto;
    }
  }
  .header__top__wrap {
    gap: 0;
  }
  .header__nav__btns {
    display: none;
  }
  .navbar-toggler {
    padding: 0;
    width: 30px;
    min-width: 30px;
    height: 20px;
    border: none;
    margin-left: auto;
    margin-right: 10px;
    &:active,
    &:hover,
    &:focus {
      outline: none;
      background: transparent;
      border: none;
      box-shadow: none;
    }
  }
  .header__top__wrap {
    flex-wrap: wrap;
  }
  .header__nav {
    width: 100%;
  }
  .header-box__caption {
    position: relative;
    left: auto;
    top: auto;
  }
  .header__prim__ico {
    right: 0;
  }
}

@media screen and (max-width: 768px) {
  .faq__footer {
    padding: 40px 20px;
    border-radius: 20px;
    h2 {
      font-size: 24px;
    }
    p {
      font-size: 14px;
      padding-bottom: 20px;
    }
  }
  .faq__footer__btns {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .faq__footer:after {
    width: 70px;
    height: 110px;
    top: -30px;
  }
  .faq__item__header {
    font-size: 16px;
  }
  .about-me__photo {
    width: 100%;
    position: relative;
    left: auto;
    bottom: auto;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  .about-me__footer {
    display: block;
  }
  .about-me__footer .nav {
    height: auto;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px 0;
    border-radius: 20px;
  }
  .about-me__footer .nav li:not(:last-child):after {
    display: none;
  }
  .faq__item__body,
  .footer__copy {
    font-size: 14px;
  }
  .faq__footer:before {
    width: 80px;
    height: 40px;
    bottom: -25px;
  }
  .footer__wrap {
    flex-direction: column;
    align-items: center;
  }
  .footer__nav {
    flex-direction: column;
    gap: 0;
    padding-left: 0;
    padding-top: 10px;
    li {
      padding-bottom: 10px;
      width: 100%;
      a {
        display: block;
        text-align: center;
        padding: 0;
        font-size: 14px;
      }
    }
  }
  .about-me__wrap .header-box__caption {
    top: auto;
    display: flex;
    width: 130px;
    margin: 0 auto 20px;
  }
  .header-box__title {
    font-size: 24px;
  }
  .header__prim__ico {
    right: -20px;
  }
  .header-box {
    padding-top: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .header-box__caption {
    margin-bottom: 20px;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .section1 {
    border-radius: 20px;
    padding: 20px 0;
  }
  .header__prim__item__caption {
    font-size: 28px;
    line-height: 40px;
  }
  .header__prim__item__text {
    font-size: 12px;
  }
  .header__footer {
    border-radius: 20px;
  }
  .header__body__btn {
    padding-bottom: 20px;
  }
  .btn.btn--order .ico {
    width: 36px;
    height: 36px;
    min-width: 36px;
    border-radius: 18px;
    svg {
      width: 13px;
      height: 14px;
    }
  }
  .header-box p {
    font-size: 14px;
    line-height: 1.71429;
  }
  .tasks-list {
    display: block;
    li {
      height: auto;
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 14px;
    }
  }
  .section2 {
    padding-top: 80px;
    background-image: url("../images/dist/bg-sec1_mob.svg"), url("../images/dist/bg-sec2_mob.svg");
    background-size: 100% auto, 100% auto;
    background-position: 50% 20px, left 50% bottom 800px;
  }
  .tools__item__caption {
    margin: 0;
    padding-top: 10px;
    font-size: 14px;
  }
  .tools__item {
    width: 120px;
  }
  .tools__list li {
    min-width: 120px;
  }
  .work-list__item2 {
    margin-left: -40px;
    margin-top: 10px;
  }
  .work-list__item6 {
    max-width: 70%;
    margin-left: 0;
    margin-right: auto;
  }
  .work-list__item3 {
    margin-left: 70px;
  }
  .work-list {
    padding-top: 0;
    gap: 5px;
    li {
      height: 64px;
      border-radius: 32px;
      font-size: 16px;
      padding: 5px 35px;
      width: 90%;
    }
  }
  .portfolio__list {
    .portfolio__item__caption {
      padding-top: 20px;
    }
  }
  .portfolio__item .col-lg-8 .portfolio__item__photo {
    height: 260px;
  }
  .portfolio__item__label {
    font-size: 16px;
    padding-bottom: 20px;
  }
  .portfolio__item p {
    font-size: 14px;
    padding-bottom: 15px;
  }
  .portfolio__item {
    padding: 15px;
  }
  .portfolio__list {
    margin: 0;
    padding-bottom: 30px;
  }
  .work-list-footer {
    padding-bottom: 30px;
  }
  .tools__list {
    padding: 0 0 30px;
    gap: 20px 40px;
  }
  .header-box__title {
    position: relative;
    z-index: 10;
  }
  .work-list-footer:after {
    width: 43px;
    height: 43px;
  }
  .work-list-footer p {
    font-size: 16px;
  }
  .header-box__title.fs-48 {
    font-size: 24px;
  }
  .fs-48 {
    font-size: 24px;
  }
  .header-box__title2 {
    font-size: 20px;
  }
  .fpad20 {
    padding-bottom: 10px;
  }
  .header-box__caption {
    font-size: 16px;
  }
  .tools .header-box__caption {
    left: auto;
  }
  .fpad60 {
    padding-bottom: 30px;
  }
  .services-item {
    padding: 20px;
    min-height: 210px;
    p {
      font-size: 14px;
    }
  }
  .services-item__header {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    gap: 10px;
    .services-item__ico {
      width: 64px;
      min-width: 64px;
      height: 64px;
      margin: 0;
    }
    h3 {
      margin: 0;
      padding: 0;
      font-size: 18px;
    }
  }
  .btn {
    height: 56px;
    border-radius: 28px;
  }
  .btn.btn--order {
    width: 230px;
    padding-left: 27px;
    font-size: 14px;
  }
  .header__body__skills {
    display: block;
    padding-bottom: 20px;
    li {
      font-size: 14px;
      line-height: 2.14286;
      text-align: center;
      &::after {
        display: none;
      }
    }
  }
  .header__body__content p {
    font-size: 15px;
    margin-bottom: 20px;
  }
  .header__body__content h1 span:after,
  .header__body__content h1 span:before,
  .header__body__content h1 span {
    font-size: 52px;
  }
  .header__body__footer {
    padding-bottom: 30px;
  }
  .header__nav .nav {
    display: block;
    li {
      width: 100%;
      padding-bottom: 5px;
      a {
        display: block;
        text-align: center;
      }
    }
  }
  .header__body__content h1 {
    font-size: 20px;
    b {
      font-size: 24px;
    }
  }
  .header__body {
    padding-top: 20px;
  }
  .header__mob {
    height: 52px;
  }
  .header__logo {
    gap: 10px;
  }
  .header__logo img {
    width: 36px;
    height: 36px;
    min-width: 36px;
    border-radius: 18px;
  }
  .header__logo__name {
    font-size: 12px;
  }
  .header__logo__position {
    font-size: 10px;
  }
  .header {
    padding-top: 10px;
    background-image: url("../images/dist/bg-header_mob.svg");
    background-size: 100% auto;
    background-position: 50% 100%;
  }
  .header__body__img {
    position: relative;
    left: auto;
    width: 100%;
    img {
      display: block;
      width: 240px;
      margin: 0 auto;
    }
  }
  .header__body__content {
    margin-left: auto;
    margin-right: auto;
  }
  .header__prim__item {
    text-align: center;
  }
  .tools__list:after {
    width: 70px;
    height: 100px;
    bottom: -60px;
    left: -30px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .section3 {
    border-radius: 20px;
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .section3 .header-box__subtitle {
    font-size: 20px;
    padding-bottom: 20px;
  }
  .progress-item {
    margin-bottom: 10px;
    min-height: auto;
    padding: 24px 30px 20px 30px;
    &__header {
      display: flex;
      align-items: center;
      padding-bottom: 20px;
      gap: 17px;
      .progress-item__ico {
        padding-bottom: 0;
        min-width: 32px;
      }
      .progress-item__title {
        padding-bottom: 0;
        font-size: 18px;
      }
    }
    p {
      font-size: 14px;
    }
  }
  .section4 {
    padding-top: 150px;
  }
}
